<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class='row container center-align'>
      <form action="#" class='col s12 valign-wrapper center-align'>
        <div class='input-field col s6 offset-s1'>
          <select id='impSelect' autocomplete="off">
            <option value='' selected disabled>Select implementation</option>
            <option value='class'>Class implementation</option>
            <option value='proto'>Proto implementation</option>
            <option value='plain'>Plain implementation</option>
          </select>
          <label>Select implementation</label>
        </div>
        <div class='col s2 offset-s1'>
          <button class='btn large'>Start</button>
        </div>
      </form>
    </header>
    <div class="divider"></div>
    <div id='app' class='container row center-align'>

    </div>
  </body>
</html>